extends layout
block activenavs
    nav.nav
        a.nav-link#organization-link.active(data-placement="right"  data-original-title="ORGANIZATIONS" title data-toggle="tooltip-custom" href="#organizations")
            span.fa.fa-phone.fa-2x.feather.feather-package.align-self-center.menu-icon.icon-dual(height="24px" width="24px")

block menus
    div.main-icon-menu-pane.mm-active.active#organizations
        div.titlebox
            h6.menu_title ORGANIZATIONS
        ul.nav.metismenu.mm-show
            li.nav-item.indent 
                a.fa.fa-search.nav-link(href="/organizations/search")
                    | Search
            li.nav-item.indent
                a.fa.fa-plus.nav-link(href="/organizations/new")
                    | Add new
block content
    .row
        .col-md-12
            .page-title-box
                .float-right(stle="padding-left:10px")
                    
                h4.page-title(data-id=organization.id)
                    | #{organization.organizationname}
                    
                
                
               
                form#neworg.form-horizontal.form-label-left.input_mask.needs-validation( enctype='multipart/form-data' )
                    .form-group
                    div.text-center
                        h4.page-title= organization_name
                            div.shadow-sm.p-4.d-inline-block.rounded-circle( style=" box-shadow: 10px 5px 5px red;")
                                img(src="/images/flavicon.png" style="width:auto; height:120px; ")
                            span.fa.fa-edit#changeLogo
                    hr
                    div.row
                        div.col-12#error-bar
                    .col-md-10.offset-md-1
                        div.card
                            div.card-body       

                                div.row
                                    div.input-group.col-12.has-feedback.form-group
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-institution.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#organization.form-control.has-feedback-left(type='text' min="5" disabled value=organization.organizationname name='organization' placeholder='Full Name of Organization' required)
                                            
                                        div.invalid-feedback 
                                            | Please provide the full organization name

                                    div.input-group.col-12.has-feedback.form-group
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-institution.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#nature.form-control.has-feedback-left(type='text'  required name='nature' disabled value=organization.organization_mandate placeholder='Nature of Organzation: NGO, CBO, Self-help Group, Company, Society, Donor')
                                        div.invalid-feedback 
                                            | Please provide the organizational mandate

                                    div.input-group.col-12.has-feedback.form-group
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-user-plus.form-control-feedback.left(aria-hidden='true')
                                                
                                        input#inputSuccess3.form-control.has-feedback-left(type='text' name='acronym' disabled value=organization.Organisation_acronym placeholder='Acronym/Short Name')
                                    div.invalid-feedback 
                                            | Please provide the full organization name
                        div.card
                            div.card-body

                                div.row
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-user.form-control-feedback.left(aria-hidden='true')
                                                
                                        input#username.form-control.has-feedback-left(type='text' disabled  min="6" name='username'  value='test-user' placeholder='Username')
                                        div.invalid-feedback 
                                            | Please provide username
                                    
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-key.form-control-feedback.left(aria-hidden='true')
                                        button.btn.btn-outline-secondary
                                            | change Password
                                br
                                .col-md-12.col-sm-12.col-xs-12.form-group.has-feedback
                                    strong Contact Details:
                        
                                div.row
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-envelope.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#email.form-control.has-feedback-left(type='email' name ='email'  disabled value=organization.organization_email required placeholder='Organization Email')
                                        div.invalid-feedback 
                                            | Please provide a valid email address

                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text
                                                i.fa.fa-envelope.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#commdept_email.form-control.has-feedback-left(type='email' name='commdept_email'  disabled value=organization.communicationdept_email required placeholder='Communication Dptmt Email')
                                        div.invalid-feedback 
                                            | Please provide a valid email address

                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                i.fa.fa-phone.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#phone_number1.form-control.has-feedback-left(type='tel' name='phone_number1' disabled value=organization.contacts.phone1 required placeholder='Landline Telephone No.')
                                        div.invalid-feedback 
                                            | Please provide a valid phone number 

                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                i.fa.fa-mobile.form-control-feedback.left(aria-hidden='true') 
                                        input#phone_number2.form-control.has-feedback-left(type='tel' name='phone_number2' disabled value=organization.contacts.phone2 placeholder='Mobile Phone Number 1')
                                        div.invalid-feedback 
                                            | Please provide the full organization name
                            
                                br
                                .col-md-12.col-sm-12.col-xs-12.form-group.has-feedback
                                    strong Physical Location Details:
                      
                                div.row
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                i.fa.fa-location-arrow.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#City.form-control.has-feedback-left(type='text' required disabled value=organization.address.city  name='City' placeholder='Country')
                                        div.invalid-feedback 
                                            | Country is required
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                i.fa.fa-location-arrow.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#street.form-control.has-feedback-left(type='text' disabled value=organization.address.Street  required name='street' placeholder='Street/Road')
                                        div.invalid-feedback 
                                            | Street is required
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                i.fa.fa-location-arrow.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#building.form-control.has-feedback-left(type='text' disabled value=organization.address.Building required name='building' placeholder='Building')
                                        div.invalid-feedback 
                                            | Building is required
                                
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                    i.fa.fa-location-arrow.form-control-feedback.left(aria-hidden='true') 
                                        input#inputSuccess12.form-control.has-feedback-left(type='text' name='gps' disabled value=organization.address.GPS_location  placeholder='GPS')
                               
                                    
                                br
                                .col-md-12.col-sm-12.col-xs-12.form-group.has-feedback
                                    strong Online/Social Media Details:
                        
                                div.row
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                span.fa.fa-globe.form-control-feedback.left(aria-hidden='true')
                                                span.required *
                                        input#website_url.form-control.has-feedback-left(type='text' disabled value=organization.social_media.Website name='website_url'  placeholder='Website')
                                        div.invalid-feedback 
                                            | Please provide a valid website url
                                    
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                span.fa.fa-twitter.form-control-feedback.left(aria-hidden='true')
                                        input#twitter.form-control.has-feedback-left(type='text' disabled value=organization.social_media.Twitter name='twitter' placeholder='Twitter')
                                    
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                span.fa.fa-facebook.form-control-feedback.left(aria-hidden='true')
                                        input#Facebook.form-control.has-feedback-left(type='text' name='facebook' disabled value=organization.social_media.Facebook placeholder='Facebook')
                                    
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                span.fa.fa-instagram.form-control-feedback.left(aria-hidden='true')
                                        input#instagram.form-control.has-feedback-left(type='text' name='instagram' disabled value=organization.social_media.Instagram placeholder='Instagram')
                                    
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                    span.fa.fa-flickr.form-control-feedback.left(aria-hidden='true')
                                        input#flickr.form-control.has-feedback-left(type='text' name='flickr'   disabled value=organization.social_media.Flickr placeholder='Flickr')
                                   
          
                                    div.input-group.col-md-6.col-sm-6.col-xs-12.form-group.has-feedback
                                        div.input-group-prepend
                                            span.input-group-text  
                                                i.fa.fa-whatsapp.form-control-feedback.left(aria-hidden='true')
                                        input#pinterest.form-control.has-feedback-left(type='text' name='pinterest' disabled value=organization.social_media.Pinterest placeholder='Whatsapp')
                        hr
                        .form-group
                        .col-12
                            button.btn.btn-primary#cancel(type='button') Cancel
                            button.btn.btn-secondary.pull-right#edit(type='button' style="float:center") Edit
                            button#update.btn.btn-success.pull-right.display(type='submit') Update
    // End of Page content
    // Custom Theme Scripts

block scripts
    script(src='/js/editorganization.js')
